<h1 style="text-align: center; padding:20px">Burger Log!</h1>
<div class="row">
  <div class="col">
    <img src="assets/images/likemeat-3sgNkN4wRWI-unsplash.jpg" class="rounded" style="width:100%; height:auto;" alt="Photo by LikeMeat on Unsplash">
  </div>
  <div class="col">
    <h2>Add a Burger</h2>
    <form id="create-form">
      <div class="form-group">
        <label for="ba">Burger Type:</label>
        <input type="text" id="ba" name="name">
      </div>
      <div class="form-group">
        <label for="sleepy">Sleepy?</label><br>
      </div>
      <button type="submit" class="btn btn-outline-light">Add Burger</button>
    </form>
  </div>

  <div class="w-100"></div>

  <div class="col">
    <h2>Burgers to be Devoured!</h2>
    <dl>
      {{#each burgers}}
      {{#unless eaten}}
      {{> burgers/burger-block eat=true}}
      {{/unless}}
      {{/each}}
    </dl>
  </div>
  <div class="col">
    <h2>Burgers that have been Devoured</h2>
    <dl>
      {{#each burgers}}
      {{#if eaten}}
      {{> burgers/burger-block eat=false}}
      {{/if}}
      {{/each}}
    </dl>
  </div>
</div>