body {
  background-color:rgb(255, 196, 0) !important;
}

div {
  padding: 10px;
  margin-top: 20px;
  background-color: #7149a2;
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: #7149a2;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
