<dt style="padding:10px">
	{{name}}

{{#if sleep}}
	<button type="submit" class="btn btn-outline-light change-sleep" data-id="{{this.id}}" data-newsleep="{{sleep}}">
		EAT BURGER
	</button>
{{/if}}
	<button type="submit" class="btn btn-outline-light delete-burger" data-id="{{this.id}}">
		DELETE BURGER
	</button>

</dt>